presentacion/__pycache__/InterfazGrafico.cpython-311.pyc
presentacion/__pycache__/InterfazAplicacion.cpython-311.pyc
dominio/__pycache__/TendenciasTuristas.cpython-311.pyc
dominio/__pycache__/seleccion.cpython-311.pyc
dominio/__pycache__/ranking.cpython-311.pyc
dominio/__pycache__/login.cpython-311.pyc
presentacion/__pycache__/InterfazAplicacion.cpython-311.pyc
